body {
 font-size: 25px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo, .login {
    flex: 1;
    color: blue;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-links li a {
    color: blue;
    text-decoration: none;
    padding: 10px 15px;

}

