* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 50%;
  }
  body{
    font-family: "Goldman", cursive;
    background: url(/pexels-christian-heitz-285904-842711.jpg);
    background-size: 100%;
  }
.alleen {
    font-family: "Goldman", cursive;
    background-size: 100%;
    background-repeat: no-repeat;
  
  }
  
  
  nav {
    font-size: 28px;
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 5vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 3rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;}
    
    nav a:hover {
        background-color: black;
        color: white;
      }

      .prop{
        text-align: center;
        font-size: 50px;
        margin-top: 150px;
        color: azure;
      }
      .gg{
        font-size:50px;
      }
      
      
     