*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item0{
   background-color: #f74e4e;
   font-size: 30px; 
   height: 10vh;
   color: white;

}

.item7{
    background-color:rgb(235, 235, 79) ;
    font-size: 15px;
    height: 33vh;
    font-weight: bold;
}
.item8{
    background-color:rgb(252, 181, 48) ;
    font-size: 15px;
    height: 30vh;
    font-weight: bold;
}
.item6{
background-color: rgb(183, 252, 78);
font-size: 15px;
height: 33vh;
font-weight: bold;
}
body{
    overflow: hidden;
}
h3{
    font-size: 15px;
    position: relative;
    top: 2vh;
     margin-left: 40px;
     color: white;
  
}
h1{
    position: relative;
    top: 2vh;
    font-weight: bold;
    font-size: 30px;
   margin-left: 40px;
   font-weight: bold;
}
h2{
    position: relative;
    top: 2vh;
    font-weight: bold;
    font-size: 20px;
   margin-left: 40px;
   font-weight: bold;   
   color: white; 
}

@media all and (max-width: 1000px){
.item0{
    background-color: rgb(236, 96, 120);
}

.item7{
    background-color: rgb(249, 67, 98);
}
.item8{
    background-color: rgb(103, 103, 246);
}
.item6{
    background-color: rgb(79, 79, 254);
}

}
@media all and (max-width: 767px){
    
    .item0{
        background-color: rgb(5, 188, 249);
        
    }
    .small-box {
        width: 50px;                
        height: 50px;                
        background-color: white;    
        position: absolute;           
        top: 5%;                  
        right: 10px;                 
        transform: translateY(-50%); 
    }
    .item7{
        background-color: lightblue;
    }
    .item8{
        background-color: rgb(222, 66, 222);
    }
    .item6{
        background-color: darkblue;
    }
}
