* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body{
    font-family: "Goldman", cursive;
  }
.alleen {
    font-family: "Goldman", cursive;
    background: url(/image.png);
    background-size: 100%;
    background-repeat: no-repeat;
  
  }
  
  
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: #00a8c7;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }
  footer p{
    color:white;
    text-align: center;
    font-size: 30px;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .enableScrolling{
    margin-top: 20vh;
  }
 h1{
  font-weight: bold;

 }
 footer{
font-size: 1.5rem;
min-height: 10vh;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #00a8c7;
background-size: 10px;
color: aliceblue;
}
footer p{
  text-align: center;
}
.black1{
  color: white;
  font-size: 16px;
  float: left;
 
}
.jv12{
  background-color: black;
}
.imgjv{
margin-right: -60vh;
  float: right;
  width: 16vw;
  height: 10;
  margin-top:-16vw ;



}

h1{
  text-align: center;
}
.white{
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 2vh;
}

.white3{
  color: white;
  font-size: 18px;
}
.geel{
  color: yellow;
}
.cont{
  
  margin-left: 5vw;
  max-width: 50%;
  line-height: 3vh;

}
.white4{
color: white;
}
.php1{
  width: 50px;
  margin-right: 150px;
  margin-top: 100px;
  font-size: 100px;
}
.phpim{
  float:left;
width: 400px;
margin-left: 200px;
margin-right: 20vh;
margin-top: 70px;
margin-bottom: 70px;
}
.spor{
  color: purple;
}
.php5{
  font-size: 30px;
}
.pipi2{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.sql1{
  background-color: black;
}
.sql2{
  color: white;
  line-height: 3vh;
  font-size: 15px;
margin-left: 200px;

position: fixed;
}
.sql3{
  color: white;
  margin-left: 200px;
font-size: 30px;

}
.sql4{
  color: orange;
}
.sq10{
  color: white;
  font-size: 50px;
  text-align:center ;
}
.imgs1{
  width: 400px;
  float: right;
  margin-right: 300px;
margin-top: -70px;
}
.html1{
  width: 500px;
margin-top: -50px;
margin-left: 150px;
}
.html2{
  float: right;
 margin-left: 800px;
font-size: 15px;
margin-top:-290px;
}
.html5{
  margin-top: -100px;
  margin-left: 800px; 
  font-size: 25px;
}
.h1{
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
}
.bleu{
  color: blue;
}
.orange{
  color: orange;
}
.in1{
width: 400px;
margin-left: 650px;
}
.in2{
  width: 400px;
  margin-left: 650px;
}
.in3{
  width: 400px;
  padding: 50px;
  margin-left: 650px;
}
.ver1{
  background-color: #00a8c7;
 color: white;
width: 400px;
margin-left: 650px;
text-align: center;

}
.con1{
text-align: center;
margin-right: 360px;
font-size: 13px;
}
.con2{
  text-align: center;
 margin-right: 360px;
 font-size: 13px;
}
.con3{
  text-align: center;
  margin-right: 360px;
  font-size: 13px;
}
.ver1{
  text-align: center;
  font-size: 15px;
}
.cin1{
  text-align: center;
 font-size: 40px;
}
.in4{
  text-align: center;
}
.button1{
 
}
.body222{
  font-family: "Goldman", cursive;
  background: url(/image.png);
  background-size: cover;
  background-repeat: no-repeat;
}
nav a:hover{
  background-color: white;
  color: #00a8c7;
}
.dropdowncontent a :hover {
background-color: #e9e9e9;
color: #00a8c7;
}
.dropdpwn1 :hover .dropdowncontent :hover{
  display: block;
  color: #e9e9e9;
}

.dropdpwn1 .dropdowncontent{
  display: none;
  position: absolute;
}
.dropdpwn1 :hover .dropdowncontent{
  display: block;
}
.dropdowncontent a{
color: #00a8c7;
padding: 10px 13px;
text-decoration: none;
display: block;
}
.dropdowncontent{
  margin-top:3.5vh ;
  background-color: #fff;
  color: #00a8c7;
}
.jaar2{
  padding: 40px 25px;
}